TODO
rversion.mk

__gen/*
__misc/debug/*
__misc/debug/out/*

__misc/CHANGES

inst/unitTests/_manual_temp.R

src/pas/xlsReadWrite.dproj*
src/pas/xlsReadWrite.identcache
src/pas/xlsReadWrite.res
*.local
*.identcache
*.dll
*.dcu
*.o
