__gen/*
__misc/CHANGES
__misc/debug/*
__misc/debug/out/*
*.local
*.identcache
*.dll
*.dcu
*.o
TODO
Rversion.mk
inst/unitTests/_Details.txt
inst/unitTests/_Results.txt
inst/unitTests/debug.R
src/pas/xlsReadWrite.dproj*
src/pas/xlsReadWrite.identcache
src/pas/xlsReadWrite.res
