useDynLib( xlsReadWrite, .registration = TRUE )

importFrom( tools, md5sum )

export( read.xls, write.xls, xls.getshlib,
        dateTimeToStr, strToDateTime,
        dateTimeToIsoStr, isoStrToDateTime )
