<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>swissr - download listing</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="Keywords" content="xlsReadWrite,xlsReadWritePro,RPascal,Treetron,r-project,delphi"/>
<meta name="Description" content="xlsReadWrite,xlsReadWritePro,RPascal,Treetron,r-project,delphi"/>
<style type="text/css">
body {font-family: verdana,sans-serif; color: #444444; background-color:#fadee2}
#title {font-weight:bold;font-size:12px;color: #555555;background-color:#ff9095; padding-left:42px; padding-right:40px; padding-top:2px; padding-bottom:2px}
a:link {color:#3366a0; text-decoration:none}
a:visited {color:#3366a0; text-decoration:none}
a:hover {text-decoration:underline}
a:active {color:#3366a0; text-decoration:underline}
.outline {list-style: none;}
.outline ul {list-style: none;}
.outline li {cursor: auto;margin:5px;}
.olink {border-style: none;	padding-right:5px }
.oimg {border-style: none;}
div.logo {position:absolute;left:88px;top:8px}
div.top {position:absolute;top:96px;height:14px;left:88px;right:73px;color:#222222;background-color:#fbcedb; padding-top:2px; padding-bottom:2px}
div.listing {
    position:absolute;
    top:114px;
    left:88px;
    right:73px;
    color:#444444;
    font-size:12px;
    background-color:#fbcedb;
  }
div.bottom {position:relative;top:0px;color:#444444;background-color:#fadee2;padding:15px; padding-left:18px}
</style>
<script src="outline.js">
</script>
</head>

<!-- Credits: Dropdown code/CSS has been taken from 'http://htmldog.com/articles/suckerfish/dropdowns/'. Thanks! -->

<body onLoad="outlineInit()">

<div class="logo">
    <img src="swissr.png" alt="SwissR logo" />
</div>

<div class="top">
  <span id="title">download listing of xlsReadWrite[Pro] and other resources</span>
</div>
<div class="listing">
<ul class="outline">
  <li>bin - platform specific binary packages, shlib and src with precompiled shlib
    <ul>
      <li>win32
        <ul>
          <li>shlib - plain dll/so files
            <ul>
<%VAR_BINWIN32_SHLIB_FILE%>            </ul>
          </li>
          <li>src - with precompiled shlib (Delphi/Flexcel not needed)
            <ul>
<%VAR_BINWIN32_SRC_FILE%>            </ul>
          </li>
<%VAR_BINWIN32_VERSIONFILE%>        </ul>
      </li>
    </ul>
  </li>
  <li>cran - with C-based placeholder shlib (incl. cmd to dl regular shlib)
    <ul>
      <li>src
        <ul>
<%VAR_CRANSRC_FILE%>        </ul>
      </li>
      <li>win32
        <ul>
<%VAR_CRANWIN32_VERSIONFILE%>        </ul>
      </li>
    </ul>
  </li>
  <li>other - brochure, help
    <ul>
      <li>docu
        <ul>
          <li><a href="<%CONST_ROOTURL%>/other/docu/xlsReadWrite.pdf" target="_blank">xlsReadWrite.pdf</a></li>
          <li><a href="<%CONST_ROOTURL%>/other/docu/xlsReadWritePro.pdf" target="_blank">xlsReadWritePro.pdf</a></li>
        </ul>
      </li>
      <li>html-docu
        <ul>
          <li><a href="<%CONST_ROOTURL%>/other/html_docu/00Index.html" target="_blank">00Index.html</a></li>
        </ul>
      </li>
      <li>brochure (outdated)
        <ul>
          <li><a href="<%CONST_ROOTURL%>/other/brochure/xlsReadWrite_Pro_Datasheet.pdf" target="_blank">xlsReadWrite_Pro_Datasheet.pdf</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>src - with full Pascal source code (Delphi/Flexcel license needed to compile)
    <ul>
<%VAR_SRC_FILE%>    </ul>
  </li>
</ul>
<div class="bottom">
All resources are hosted on dropbox. The xlsReadWrite source code is
also available from github.
<br>
Packages with a _0.0.0 suffix are development versions
but not necessarily the most recent builds.
<br><br>
Listing has been autogenerated and belongs to <a href="http://www.swissr.org" target="_blank">www.swissr.org</a>.

</div>
</body>
</html>

